body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    background-color: #3347B0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 12px;
    padding-bottom: 12px;

}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slogan {
    display: flex;
    flex-direction: column;
    font-size: 57px;
    width: 490px;
    gap: 44px;
}

.slogan p {
    font-weight: 200;
}

.slogan span {
    font-weight: bold;
    color: #3347B0;

}

.botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.botoes button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    gap: 24px;
    background-color: #3347B0;
    box-shadow: 12px 12px 6px #3347B080;
}

.botoes p {
    font-size: 64px;
    font-weight: 500;
    color: #FFFFFF;
}

.sair {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap: 12px;
}


footer {
    width: 100%;
    display: flex;
    background-color: #3347B0;
    color: #FFFFFF;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 116px;
    padding-right: 116px;
    padding-bottom: 22px;
    padding-top: 20px;
}

.contatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.telefone {
    display: flex;
    align-items: center;
    gap: 14px;
}

.email {
    display: flex;
    align-items: center;
    gap: 14px;
}

.copyright {
    font-size: 20px;
}

.local {
    display: flex;
    align-items: center;
    gap: 14px;
}

.redes-sociais {
    display: flex;
    gap: 20px;
}

.borda {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

/* RESPONSIVIDADE MOBILE */

@media (max-width: 480px) {

    header {
        padding-left: 22px;
        padding-right: 27px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slogan {
        font-size: 30px;
        text-align: center;
        width: 280px;
    }

    .slogan img {
        display: none;
    }

    .student img {
        width: 194px;
        height: 331px;
    }

    .ds button {
        width: 175px;
        height: 175px;
    }

    .ds button img {
        display: none;
    }
    .ds button p {
        font-size: 60px;
    }

    .redes button {
        width: 175px;
        height: 175px;
    }

    .redes button p{
        font-size: 40px;
    }


    .redes button img {
        display: none;
    }

    .sair h1 {
        display: none;
    }

    footer {
        flex-direction: column;
    }
}